nav {
    color: #686868;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    div{
        display: flex;
        align-items: center;
        padding: 20px;
        gap:20px;
    }
}

h1 {
    color: black;
    margin-left: 40px;
    margin-right: 20px;
    font-family: "Epilogue";
    font-weight: 700;
    font-size: 32px;
}
.register-button {
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height: 40px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 165px;
    
}
.logo{
    width: 480px;
    height: 640px;
}

p{
    margin-top: 80px;
    margin-bottom: 80px;
}


h2 {
    font-size: 78px;
    font-family: "Epilogue";
    font-weight: 700;

}
p {
    color: #686868;
    font-family: "Epilogue";

}

.text-div {
    width: 540px;
    height: 400px;
    margin-bottom: 50px;
    
}
.more {
    background-color: black;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 12px;
    font-family: "Epilogue";
}

.logos {
    display: flex;
    gap: 20px;
}